### Python library for data analysis
- Pandas-Data Analysis
- Series Object-One-Dimensional Data
- Data Frame Object-Two dimensional data
- Reading Data from Csv Files Into Data Frames
- Processing /Accessing Data Frames
  - Columns
  - Rows
- Updating Data Frames 
- Writing Data Frame Back To Csv Files

In [ ]:
filepath = 'income.csv'

import pandas as pd

def readcsv(filepath):
   
   return pd.read_csv(filepath)

readcsv(filepath)

In [4]:
incomedf=readcsv(filepath)

#function to print all column names in a single line
#GEOID state 2005 2006 2007 2008 2009 2010 2011 2012 2013

def printdataframecolumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=' ')
    return
printdataframecolumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [5]:
#function to access a row based on a unique column value

def accessdataframerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessdataframerow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [17]:
#accessing a unique value based on row,column information
#income of a state in a given year
def getrowindex(df,rowkey):
    for i in range(len(df.values)): 
       
       if df.values[i][0] == rowkey or df.values[i][1]:
           rowindex=i
     return rowindex
def getcolumnindex()
def valueFromRowColumn(df,rowkey,columnkey):
   
   for i in range(len(df.values)): 
       
       if df.values[i][0] == rowkey or df.values[i][1]:
           rowindex=i
           
   for i in range(len(df.columns)):
       if df.columns[i] == columnkey:
           columnindex=i
   return df.values[rowindex][columnindex]
valueFromRowColumn(incomedf,'California','2009')

56134

In [ ]:
#function to update data based on rowkey and columnkey

def updatedatafromrowcolumn(df,rowkey,columnkey,newdata):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    row=df.values[rowindex]
    row[columnindex]=newdata
    df.loc[rowindex]=row
    return
updatedatafromrowcolumn(incomedf,'Arizona','2007','62993')
incomedf

In [18]:
#function to write dataframe to csv

incomedf.to_csv(filepath,index=False)

In [ ]:
#function to add a new row of data to dataframe

def addrowdatadataframe(df,rowdata):
    lastrowindex=len(df.values-1)
    df.loc[lastrowindex+1]=rowdata
    return

rowdata=[1,2,3,4,5,6,7,8,9,10,11]
addrowdatadataframe(incomedf,rowdata)

incomedf

In [ ]:
def deleterow(df,rowkey):
    rowindex=getrowindex[rowkey]
    df.drop[rowindex]
    return
deleterow(incomedf,1)
incomedf

In [1]:
# Reading csv file Data
import pandas as pd
filepath = 'income.csv'
incomedf = pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [2]:
def averageofallstate(df):
    sum=0
    count=0
    for row in range(0,5):
        for column in range(2,11):
            sum+=incomedf.values[row][column]
            count+=1
        avg =(sum/count)
        print(incomedf.values[row][1],":",avg,"\n")
    return
averageofallstate('incomedf')

Alabama : 41126.444444444445

Alaska : 50616.5

Arizona : 49482.59259259259

Arkansas : 46819.166666666664

California : 48525.42222222222

In [3]:
def highestavgincome(df):
   sum=0
   count=0
   li=[]
   for row in range(0,5):
       for column in range(8,11):
           sum+=incomedf.values[row][column]
           count+=1
       avg =(sum/count)
       li.append(avg)
       print(incomedf.values[row][1],":",avg,"\n")
   return max(li)
highestavgincome(incomedf)

Alabama : 42478.333333333336

Alaska : 51608.5

Arizona : 50657.555555555555

Arkansas : 48013.083333333336

California : 49604.8

51608.5